.container-fluid
	.row
		.col-md-3(ng-repeat="category in categories")
			div.category-container(ui-sref="galleries.categoryDetails({ categoryId: category._id })")
				img.img-thumbnail(ng-src="{{category.thumbnailUrl}}")
				div{{category.title}}
