.container-fluid.category-details
	flex-slider#slider(flex-slide="s in mySlides" animation="slide" control-nav="false" animation-loop="false" slideshow="false" sync="#carousel-slider")
		li
			img(ng-src="{{s}}")
	flex-slider#carousel(flex-slide="s in mySlides" animation="slide" control-nav="false" animation-loop="false" slideshow="false" item-width="210" item-margin="5" as-nav-for="#slider-slider")
		li
			img(ng-src="{{s}}")